body.lock {
	overflow: hidden;
}
#nav-bar {
	transition: 0.3s;
}
.header {
	height: 156px;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	z-index: 2;
	&__logo {
	}
}
.header-menu {
	&__box {
		display: flex;
		margin-right: 35px;
	}

	&__item {
		padding: 10px;
		margin-right: 21px;
		&:last-child {
			margin-right: 0;
		}
		& a {
			color: white;
			text-decoration: none;
			font-family: "Graphik";
		}
	}
}
.header-links {
	width: 510px;
	display: flex;
	justify-content: end;
	&__item {
		margin-right: 24px;
	}
}

@media (max-width: 991px) {
	.header {
		position: fixed;
		width: 100%;
		z-index: 2;
		height: 78px;
		justify-content: start;
		align-items: center;
		&__logo {
			margin-left: 27px;
		}
	}

	.header-menu {
		&__btn {
			position: absolute;
			top: 40px;
			right: 20px;
			width: 26px;
			height: 26px;
			cursor: pointer;
			z-index: 2;
			& > span {
				display: block;
				position: absolute;
				width: 100%;
				height: 2px;
				background-color: white;
				top: -8px;
				transition: 0.5s;
			}
			& > span::before {
				display: block;
				position: absolute;
				width: 75%;
				height: 2px;
				background-color: white;
			}
			& > span::after {
				display: block;
				position: absolute;
				width: 50%;
				height: 2px;
				background-color: white;
			}
			& > span::before {
				content: " ";
				top: 8px;
				right: 0;
			}
			& > span::after {
				content: " ";
				top: 16px;
				right: 0;
				transition: 0.5s;
			}
		}

		&__btn.active {
			& > span {
				transform: rotate(45deg);
			}
			& > span::before {
				top: 0;
				transform: rotate(0);
			}
			& > span::after {
				top: 0;
				transform: rotate(90deg);
				width: 100%;
			}
		}

		&__box {
			display: block;
			position: fixed;
			visibility: hidden;
			top: 0;
			right: -100%;

			width: 100%;
			height: 100%;
			margin: 0;
			padding: 80px 0;
			list-style: none;
			text-align: center;
			background-color: black;
			box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
			z-index: 1;
			transition: 0.5s;

			&.active {
				visibility: visible;
				right: 0;
			}
		}
		&__item {
			margin-right: 0px;
		}
	}
	.header-links {
		display: none;
	}
}
